$raio-suave: .1em;
$medida-padrao: 1em;
$borda-suave: .1em;

$cor-principal: #EA6298;
$cor-secundaria: #E51C6D;
$cor-auxiliar: #660C30;

%border-post {
	border-bottom: 2px solid $cor-secundaria; 	
	border-bottom-left-radius: 3em;
	border-bottom-right-radius: 3em;
}

%sombra-principal {
	box-shadow: 5px 5px 10px $cor-auxiliar;
}

%borda-principal {
	border: $borda-suave solid $cor-secundaria;
}

@mixin borda-img {
	border: $borda-suave dashed $cor-auxiliar;
}


/* Site */
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.woff);
}

body {
	font-family: Montserrat, monospace;
	background-image: url(../img/background.jpg);
}

main{
	width: 90%;
	display: flex;
	justify-content: space-between;	
}

.container {
	width: 80%;
}

main, 
.container {
	margin-left: auto;
	margin-right: auto;
}

/* Header */
.banner-logo {
	background-color: $cor-secundaria;
	background-image: url(../img/bg.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.banner-logo img {
	height: 200px;
	width: 220px;
	margin: $medida-padrao;
	padding: .5em;
}

/* Navegação */
.navegacao {
	display: flex;
	justify-content: space-between;
	background-color: white;
	@extend %sombra-principal;
}

.navegacao ul {
	list-style: none;
	display: flex;
	width: 400px;
	justify-content: space-around;
}

.navegacao a {
	text-decoration: none;
}

.navegacao a:hover,
.active {
	@extend %borda-principal;
	padding: .3em;
	font-weight: bold;
}


.navegacao form {
	margin-right: $medida-padrao;
	display: flex;
	align-items: center;
}

.navegacao i {
	background-color: $cor-secundaria;
	/*Medida específica para o botão de pesquisa*/
	padding: 0.1em;
	border-radius: $raio-suave;
	@extend %borda-principal;
	color: white;
	cursor: pointer;
}

.navegacao input {
	padding: .3em;
	border-radius: $raio-suave;
	border-color: $cor-secundaria;
}

/* Destaques */
.destaques {
	height: 300px;
	width: 70%;
	background-color: white;
}

.destaques img {
	width: 32%;
	border-radius: $raio-suave;
}

.destaques img:nth-child(1) {
	margin-left: none;
}

.destaques div {
	display: flex;
	justify-content: space-between;
}

.destaques h2,
.postagens h3 {
	text-align: center;
	text-decoration: underline;
	color: $cor-principal;
	letter-spacing: .1ch;
}

.destaques {
	box-shadow: 7px 7px 15px $cor-auxiliar;
	border-radius: .5em;
	padding: .9em;
	margin-top: 2em;
}

/* Postagens */
.postagens {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: white;
}

.postagens h3 {
	font-size: 2em;
}

.postagens article p {
	width: 50%;
}

.postagens article a {
	text-decoration: none;
	background-color: $cor-principal;
	color: white;
	border-radius: .3em;
	padding: .8em;
	font-weight: bold;
}

.postagens article a:hover {
	background-color: $cor-secundaria;
}

.postagens article :nth-child(2) {
	@include borda-img;
	padding: .8em;
}

.postagens article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $medida-padrao;
	@extend %border-post;
	margin-bottom: 2em;
}

.postagens article:nth-last-of-type(1) {
	border-bottom: none;
}

.area-postagens {
	width: 60%;
}

.postagens,
.especiais {
	@extend %sombra-principal;
	border-radius: .5em;
	margin-top: 2em;
}

.postagens img,
.especiais img {
	width: 60%;
}

/* Especial */
.especiais{
	padding-top: 1.5em;
	background-color: white;
}

.area-especial {
	width: 28%;
}

.box-especial {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $medida-padrao;
	@extend %border-post;
	margin-bottom: 2em;
}

.box-especial p {
	width: 70%;
	text-align: center;
}

.box-especial a {
	text-decoration: none;
	background-color: $cor-principal;
	color: white;
	border-radius: .3em;
	padding: .8em;
	font-weight: bold;
}

.especiais div:nth-last-of-type(1) {
	border-bottom: none;
}

.especiais h3 {
	text-align: center;
	color: $cor-principal;
	text-decoration: underline;
	letter-spacing: .1ch;
	font-size: 2em;
}

.box-especial h4 {
	text-align: center;
	color: $cor-auxiliar;
}