/*
*** Estrutura Site ***
*/
@font-face {
	font-family: Montserrat;
	src: url("../fontes/Montserrat-Regular.woff");
}

@font-face {
	font-family: Xiao;
	src: url("../fontes/ZCOOLXiaoWei-Regular.woff");
}

body {
	font-family:  Xiao, Montserrat, sans-serif;
	overflow-x: hidden;
}

div.borda-fundo p {
	font-size: 0.9em;
}

.background {
	background-image: url(../img/bg.jpg);
	background-size: 100% 100%; 
}

.logo {
	width: 170px;
	height: 170px;
}

.fundo-cabecalho {
	background-color: #FF99FF;
}

.rosa {
	color: #BE3DFF;
}
/*
*** Formatações ***
*/
.cor-fundo {
	/*Cor retirada do background*/
	border: #DA2A7A;
}

.sublinhado {
	/*Cor retirada do background*/
	text-decoration: underline #DA2A7A;
}

.borda-fundo {
	border: 1px solid #DA2A7A;
}

/*
*** Cabeçalho ***
*/
.borda-redonda {
	border-radius: 5px;
}

.img-inicial {
	width: 350px;
	height: 250px;
}

.bg-light-50 {
	background-color: rgba(255, 255, 255, 0.9);
}
/*Sobre escrevendo marcador de página css*/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link{
 	font-weight: bold;
 	color: #BE3DFF;
}
/*Sobre escrevendo hover de link css*/
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #BE3DFF;
}
/*Sobre escrevendo transparência de link css*/
.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.6);
}

/*
*** Rodapé ***
*/
#rodape i {
	font-size: 1.3em;
}

/*
*** Animações ***
*/

@keyframes animacao-img {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}	
}

.animacao1 {
	animation: animacao-img 2s; 
}
.animacao2 {
	animation: animacao-img 4s; 
}
.animacao3 {
	animation: animacao-img 5s; 
}
