/* Site */
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.woff);
}

body {
	font-family: Montserrat, monospace;
}

main{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	display: flex;
	justify-content: space-between;	
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/* Header */
.banner-logo {
	background-color: #E51C6D;
	background-image: url(../img/bg.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.banner-logo img {
	height: 150px;
	width: 150px;
	border: 2px solid white;
	margin: 1em;
	padding: .5em;
}

/* Navegação */
.navegacao {
	display: flex;
	justify-content: space-between;
}

.navegacao ul {
	list-style: none;
	display: flex;
	width: 400px;
	justify-content: space-around;
}

.navegacao a {
	text-decoration: none;
}

.navegacao a:hover,
.active {
	border: .1em solid #E51C6D;
	padding: .3em;
	font-weight: bold;
}


.navegacao form {
	margin-right: 1em;
	display: flex;
	align-items: center;
}

.navegacao i {
	background-color: #E51C6D;
	padding: .1em;
	border-radius: .1em;
	border: .1em solid #E51C6D;
	color: white;
	cursor: pointer;
}

.navegacao input {
	padding: .3em;
	border-radius: .1em;
	border-color: #E51C6D;
}

/* Destaques */
.destaques {
	height: 300px;
	width: 70%;
}

.destaques img {
	width: 32%;
	border-radius: .1em;
}

.destaques img:nth-child(1) {
	margin-left: none;
}

.destaques div {
	display: flex;
	justify-content: space-between;
}

.destaques h2,
.postagens h3 {
	text-align: center;
	text-decoration: underline;
	color: #EA6298;
	letter-spacing: .1ch;
}

.destaques {
	box-shadow: 5px 5px 10px #660C30;
	border-radius: .5em;
	padding: .9em;
	margin-top: 2em;
}

/* Postagens */
.postagens {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}

.postagens p {
	width: 50%;
}

.caixa1 {
	width: 60%;
}

.caixa2 {
	width: 28%;
}

.postagens article {
	padding: 1em;
}

.postagens,
.especiais {
	box-shadow: 5px 5px 10px #660C30;
	border-radius: .5em;
	margin-top: 2em;
}

.postagens img,
.especiais img {
	width: 60%;
}