/* Site */
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.woff);
}

body {
	font-family: Montserrat, monospace;
	background-image: url(../img/background.jpg);
}

main{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	display: flex;
	justify-content: space-between;	
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/* Header */
.banner-logo {
	background-color: #E51C6D;
	background-image: url(../img/bg.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.banner-logo img {
	height: 150px;
	width: 150px;
	border: 2px solid white;
	margin: 1em;
	padding: .5em;
}

/* Navegação */
.navegacao {
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.navegacao ul {
	list-style: none;
	display: flex;
	width: 400px;
	justify-content: space-around;
}

.navegacao a {
	text-decoration: none;
}

.navegacao a:hover,
.active {
	border: .1em solid #E51C6D;
	padding: .3em;
	font-weight: bold;
}


.navegacao form {
	margin-right: 1em;
	display: flex;
	align-items: center;
}

.navegacao i {
	background-color: #E51C6D;
	padding: .1em;
	border-radius: .1em;
	border: .1em solid #E51C6D;
	color: white;
	cursor: pointer;
}

.navegacao input {
	padding: .3em;
	border-radius: .1em;
	border-color: #E51C6D;
}

/* Destaques */
.destaques {
	height: 300px;
	width: 70%;
	background-color: white;
}

.destaques img {
	width: 32%;
	border-radius: .1em;
}

.destaques img:nth-child(1) {
	margin-left: none;
}

.destaques div {
	display: flex;
	justify-content: space-between;
}

.destaques h2,
.postagens h3 {
	text-align: center;
	text-decoration: underline;
	color: #EA6298;
	letter-spacing: .1ch;
}

.destaques {
	box-shadow: 5px 5px 10px #660C30;
	border-radius: .5em;
	padding: .9em;
	margin-top: 2em;
}

/* Postagens */
.postagens {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: white;
}

.postagens h3 {
	font-size: 2em;
}

.postagens article p {
	width: 50%;

}

.postagens article a {
	text-decoration: none;
	background-color: #EA6298;
	color: white;
	border-radius: .3em;
	padding: .8em;
	font-weight: bold;
}

.postagens article a:hover {
	background-color: #E51C6D;
}

.postagens article :nth-child(2) {
	border: .1em dashed #660C30;
	padding: .8em;
}

.postagens article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	border-bottom: 2px solid #E51C6D; 	
	border-bottom-left-radius: 3em	;
	border-bottom-right-radius: 3em;
	margin-bottom: 2em;
}

.postagens article:nth-last-of-type(1) {
	border-bottom: none;
}

.area-postagens {
	width: 60%;
}

.postagens,
.especiais {
	box-shadow: 5px 5px 10px #660C30;
	border-radius: .5em;
	margin-top: 2em;
}

.postagens img,
.especiais img {
	width: 60%;
}

/* Especial */
.especiais{
	padding-top: 1.5em;
	background-color: white;
}

.area-especial {
	width: 28%;
}

.box-especial {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	border-bottom: 2px solid #E51C6D; 	
	border-bottom-left-radius: 3em	;
	border-bottom-right-radius: 3em;
	margin-bottom: 2em;
}

.box-especial p {
	width: 70%;
	text-align: center;
}

.box-especial a {
	text-decoration: none;
	background-color: #EA6298;
	color: white;
	border-radius: .3em;
	padding: .8em;
	font-weight: bold;
}

.especiais div:nth-last-of-type(1) {
	border-bottom: none;
}

.especiais h3 {
	text-align: center;
	color: #EA6298;
	text-decoration: underline;
	letter-spacing: .1ch;
	font-size: 2em;
}

.box-especial h4 {
	text-align: center;
	color: #660C30;
}