/* Navegação */
.navegacao {
	display: flex;
	justify-content: space-between;
	background-color: white;
	@extend %sombra-principal;
}

.navegacao ul {
	list-style: none;
	display: flex;
	width: 400px;
	justify-content: space-around;
}

.navegacao a {
	text-decoration: none;
}

.navegacao a:hover,
.active {
	@extend %borda-principal;
	padding: .3em;
	font-weight: bold;
}


.navegacao form {
	margin-right: $medida-padrao;
	display: flex;
	align-items: center;
}

.navegacao i {
	background-color: $cor-secundaria;
	/*Medida específica para o botão de pesquisa*/
	padding: 0.1em;
	border-radius: $raio-suave;
	@extend %borda-principal;
	color: white;
	cursor: pointer;
}

.navegacao input {
	padding: .3em;
	border-radius: $raio-suave;
	border-color: $cor-secundaria;
}

@media (max-width: 768px) {

  .navegacao {
    flex-direction: column;
  }

  .navegacao ul {
    flex-direction: column;
    text-align: center;
	}
  .active {
    border: none;
  }

  .navegacao ul {
    width: auto;
  }

  .navegacao form {
    justify-content: space-between;
    margin-right: 0;
  }

  .navegacao input {
    flex-grow: 1;
  }

  .navegacao i {
    width: 100%;
    text-align: center;
    margin: .1em;
  }

  .nav {
    background: #f0f0f0;
    padding: 1em;
    margin: 0;

    height: 100%;
    width: 90%;
    max-width: 320px;

    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out;
  }
  
  .menu-ativo {
    left: 0;
  }

  .abrir-menu {
    display: flex;
    justify-content: center;
  }
}

@media not all and (max-width: 768px) {
  .abrir-menu,
  .fechar-menu {
      display: none;
  }
}