 @media (max-width: 768px) {

  .area-postagens, 
  .area-especial {
    width: auto; 
    margin: 0; 
  }

  main {
    width: auto;
    flex-direction: column;
  }

  html {
    font-size: 14px;
  }

}