@charset "UTF-8";
.box-especial, .postagens article {
  border-bottom: 2px solid #E51C6D;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
}

.postagens,
.especiais, .navegacao {
  box-shadow: 5px 5px 10px #660C30;
}

.navegacao i, .navegacao a:hover,
.active {
  border: 0.1em solid #E51C6D;
}

/* Site */
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff);
}
body {
  font-family: Montserrat, monospace;
  background-image: url(../img/background.jpg);
}

main {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
}

main,
.container {
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.banner-logo {
  background-color: #E51C6D;
  background-image: linear-gradient(90deg, #E51C6D, #EA6298);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.banner-logo img {
  height: 200px;
  width: 220px;
  margin: 1em;
  padding: 0.5em;
}

@media (max-width: 768px) {
  .banner-logo {
    height: auto;
  }

  .banner-logo img {
    margin: 0;
    padding: 0;
    margin-left: 7%;
  }
}
/* Navegação */
.navegacao {
  display: flex;
  justify-content: center;
  background-color: white;
}

.navegacao ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-basis: 400px;
}

.navegacao a {
  text-decoration: none;
}

.navegacao a:hover,
.active {
  padding: 0.3em;
  font-weight: bold;
}

.navegacao form {
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.navegacao i {
  background-color: #E51C6D;
  /*Medida específica para o botão de pesquisa*/
  padding: 0.1em;
  border-radius: 0.1em;
  color: white;
  cursor: pointer;
}

.navegacao input {
  padding: 0.3em;
  border-radius: 0.1em;
  border-color: #E51C6D;
}

@media (max-width: 768px) {
  .navegacao {
    flex-direction: column;
  }

  .navegacao ul {
    flex-direction: column;
    text-align: center;
    justify-content: start;
  }
  .navegacao ul a {
    background-color: white;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 0.5em;
    width: 1em;
  }

  .active {
    border: none;
  }

  .navegacao form {
    justify-content: space-between;
    margin-right: 0;
  }

  .navegacao input {
    flex-grow: 1;
  }

  .navegacao i {
    width: 100%;
    text-align: center;
    margin: 0.1em;
  }

  .nav {
    background: #f0f0f0;
    padding: 1em;
    margin: 0;
    box-shadow: 5px 5px 10px #660C30;
    height: 100%;
    width: 55%;
    max-width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out;
    background-color: #EA6298;
    background-image: linear-gradient(to top, #E51C6D, #EA6298);
  }
  .nav button + li {
    margin-top: 5em;
  }
  .nav button {
    border: none;
    background: none;
    align-self: start;
  }
  .nav button i {
    background-color: #660C30;
    border: none;
  }
  .nav li {
    margin: 2em;
  }
  .nav a {
    font-weight: bold;
  }

  .menu-ativo {
    left: 0;
  }

  .abrir-menu {
    display: flex;
    justify-content: center;
  }
}
@media not all and (max-width: 768px) {
  .abrir-menu,
.fechar-menu {
    display: none;
  }
}
/* Destaques */
.destaques {
  height: 300px;
  width: 70%;
  background-color: white;
}

.destaques img {
  width: 32%;
  max-height: 200px;
  border-radius: 0.1em;
}

.destaques img:nth-child(1) {
  margin-left: none;
}

.destaques div {
  display: flex;
  justify-content: space-between;
}

.destaques h2,
.postagens h3 {
  text-align: center;
  text-decoration: underline;
  color: #EA6298;
  letter-spacing: 0.1ch;
}

.destaques {
  box-shadow: 7px 7px 15px #660C30;
  border-radius: 0.5em;
  padding: 0.9em;
  margin-top: 2em;
}

@media (max-width: 768px) {
  .destaques {
    height: auto;
    width: auto;
    margin: 0;
    margin-top: 3em;
  }

  .destaques img {
    width: 95%;
    align-self: center;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
  }

  .destaques div {
    flex-direction: column;
  }
}
/* Postagens */
.postagens {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: white;
}

.postagens h3 {
  font-size: 2em;
}

.postagens article p {
  width: 50%;
}

.postagens article a {
  text-decoration: none;
  background-color: #EA6298;
  color: white;
  border-radius: 0.3em;
  padding: 0.8em;
  font-weight: bold;
}

.postagens article a:hover {
  background-color: #E51C6D;
}

.postagens article :nth-child(2) {
  border: 0.1em dashed #660C30;
  padding: 0.8em;
}

.postagens article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
}

.area-postagens {
  width: 60%;
}

.postagens,
.especiais {
  border-radius: 0.5em;
  margin-top: 2em;
}

.postagens img,
.especiais img {
  width: 60%;
}

@media (min-width: 768px) {
  .postagens article:nth-last-of-type(1) {
    border-bottom: none;
  }
}
@media (max-width: 768px) {
  .postagens {
    background-color: transparent !important;
    box-shadow: none;
  }

  .postagens article {
    box-shadow: 2px 2px 5px #660C30;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    margin-bottom: 2em;
    background-color: white;
  }

  .postagens article p {
    width: auto;
  }

  .postagens article a {
    padding: 0.5em;
  }
}
/* Especial */
.especiais {
  padding-top: 1.5em;
  background-color: white;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
}

.area-especial {
  width: 28%;
}

.box-especial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
}

.box-especial p {
  width: 70%;
  text-align: center;
}

.box-especial a {
  text-decoration: none;
  background-color: #EA6298;
  color: white;
  border-radius: 0.3em;
  padding: 0.8em;
  font-weight: bold;
}

.especiais div:nth-last-of-type(1) {
  border-bottom: none;
}

.especiais h3 {
  text-align: center;
  color: #EA6298;
  text-decoration: underline;
  letter-spacing: 0.1ch;
  font-size: 2em;
}

.box-especial h4 {
  text-align: center;
  color: #660C30;
}

footer {
  display: flex;
  background-color: #EA6298;
  justify-content: space-around;
}
footer img {
  width: 15%;
  min-width: 200px;
  margin: 2em;
}

span {
  color: white;
  align-self: center;
  margin-bottom: 3.5em;
}

.lista-rodape {
  list-style: none;
  padding: 0;
}
.lista-rodape h3 {
  color: white;
}
.lista-rodape h3 + li {
  margin-top: 0;
}
.lista-rodape li {
  padding: 0.5em;
}
.lista-rodape a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .area-postagens,
.area-especial {
    width: auto;
    margin: 0;
  }

  main {
    width: auto;
    flex-direction: column;
  }

  html {
    font-size: 14px;
  }
}

/*# sourceMappingURL=estilo.css.map */
